<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Meal Planner! <span data-th-text="${name}"></span></h1>
    <!-- <style>
        body{
            background-image: url(images/background.jpg);
        }
    </style> -->
    <div></div>  
    <form action="/random">
        <button type="submit">Get random recipe!</button>
    </form>
    <form action="/search">
        <button type="submit">Search for food recommendation!</button>
    </form>
    <form action="/home">
        <button type="submit">Log out</button>
    </form>
</body>
</html>