<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to your daily meal planner</title>
</head>
<body>
    <!-- title,sourceUrl,image,summary -->
    <form method="POST" action="/random">
        <div class="center" data-th-each="n:${randomRecipe}">
            <img data-th-src="${n.image}">
            <h1>Title: <span data-th-text="${n.title}"></span></h1>
            <p>Instructions: <span data-th-text="${n.instructions}"></span></p>
            <p>Serving size: <span data-th-text="${n.servings}"></span></p>
            <p>Cooking time (minutes): <span data-th-text="${n.readyInMinutes}"></span></p>
            <a th:href="@{''+${n.sourceUrl}}" target="popup">Go to source link</a>
            <h6>ID:<i data-th-text="${n.id}"></i></h6>
            <input type="hidden" name="title" value="Submit" data-th-value="${n.title}">
            <button>Add this to your meal plan!</button>
            <hr class="solid">
        </div>
    </form>
    <form action="/random">
        <button type="submit">Get new recipe</button>
    </form>
    <form action="/menu">
        <button type="submit">Go back to menu</button>
    </form>
    <form action="/home">
        <button type="submit">Log out</button>
    </form>
</body>
</html>