<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form method="GET" action="/result">
        <input type="text" name="query" size="20" placeholder="Search your favorite food" required>
        <div></div>
        <label for="MaxCarb">Carbs(0-500):</label>
        <input type="range" value="100" min="0" max="500" name="maxCarbs" id="maxCarbs">
        <div></div>
        <label for="MaxCalories">Calories(0-5000):</label>
        <input type="range" value="1000" min="0" max="5000" name="maxCalories" id="maxCalories">
        <div></div>
        <button type="submit">Search food recommendation of your choice</button>
    </form>
</body>
</html>