<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineShop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Online Shop</h1>
    <form method="POST" action="/products">
        <div class="center" data-th-each="p:${products}">
            <img data-th-src="${p.image}" width="50">
            <h6>ID: <span data-th-text="${p.id}"></span></h6>
            <h2>Item: <span data-th-text="${p.title}"></span></h2>
            <p>Description: <span data-th-text="${p.description}"></span></p>
            <h5 data-th-text="${p.price}"></h5>
            <h6 data-th-text="${p.category}"></h6>
        </div>
    </form> 
</body>
</html>